.question-card {
    background-color: #191919;
    border-radius: 5vmin;
    padding: 3vmin;
    width: 80vmin;
    box-shadow: 0px 0px 35px 2px rgb(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.7);
}

.answer-options {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f1f1f;
    border-radius: 1vmin;
    padding: 0.25vmin;
    aspect-ratio: 1.5;
}

.question {
    font-size: 8vmin;
    line-height: 0;
}

.answer-option {
    flex: 0 0 50%;  /* each cell takes 50% of the container width */
    height: 50%;    /* each cell takes 50% of the container height */
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 0.5vmin solid #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vmin;
    padding: 0px;
}

.answer-option:focus,
.answer-option:focus-visible {
    outline: 0px auto -webkit-focus-ring-color;
}


@keyframes fadeBorderToTransparent {
    to {
        border-color: transparent;
    }
}

@keyframes shake-rotate {
    0%   { transform: rotate(0deg); }
    15%  { transform: rotate(-5deg); }
    30%  { transform: rotate(5deg); }
    45%  { transform: rotate(-5deg); }
    60%  { transform: rotate(5deg); }
    75%  { transform: rotate(-3deg); }
    90%  { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}
@keyframes pop-scale {
    0%   { transform: scale(1); }
    30%  { transform: scale(0.9); }
    60%  { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

.fade-border-from-red {
    border: 2px solid red;
    animation: fadeBorderToTransparent 1s forwards;
    animation: shake-rotate 1s forwards;
}

.fade-border-from-green {
    border: 2px solid rgb(85, 255, 47);
    animation: fadeBorderToTransparent 1.5s forwards;
}

.pop-scale-in {
    animation: pop-scale 0.4s forwards;
}

.locked {
    pointer-events: 0;
}